@import "theme.css";
@import "variants/default.css";

/* ── General ───────────────────────────────────────────────────── */
@define-color background_darker alpha(shade(@background, 0.9), 0.5);
@define-color bg alpha(@background, 0.5);
@define-color borderColor alpha(mix(@foreground, @background, 0.2), 0.5);

/* ── Keyframes ─────────────────────────────────────────────────── */
@keyframes changebg {
  0% {
    background: linear-gradient(
      -60deg,
      @background,
      @background,
      mix(@color4, @background, 0.1)
    );
  }
  5% {
    background: linear-gradient(
      60deg,
      @background,
      mix(@color4, @background, 0.9),
      mix(@color5, @background, 0.3)
    );
  }

  15% {
    background: linear-gradient(
      180deg,
      @background,
      mix(@color5, @background, 0.7)
    );
  }

  30% {
    background: linear-gradient(360deg, @background, @background);
    border-color: @borderColor;
  }
}

/* ── modules ────────────────────────────────────────────────────── */
#workspaces,
#submap,
#mpris,
#pulseaudio,
#backlight,
#tray,
#clock,
#bluetooth,
#bluetooth.on,
#bluetooth.connected,
#networks,
#taskbar,
#hardware {
  background-color: @bg;
  border: 1px solid @borderColor;
  border-radius: 8px;
  margin: 2px;
  padding: 2px;
  opacity: 0.9;
  padding-bottom: 0px;
}

* {
  color: @color15;
  font-size: 11pt;
}

window#waybar {
  border-top: none;
  border-radius: 0px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  padding: 2px;
  transition-property: background-color;
  transition-duration: 0.5s;
}

/* ── Workspaces ────────────────────────────────────────────────── */
#workspaces {
  background: @bg;
  margin: 2px 4px;
  margin-right: 0px;
  padding-left: 8px;
  border-radius: 8px 0px 0px 8px;
  border: 1px solid;
  border-right: 0px;
  border-color: @borderColor;
  font-weight: bold;
  font-style: normal;
  color: @foreground;
  margin-left: 0px;
}

#workspaces button.empty {
  color: @color7;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
  opacity: 0.2;
}

#workspaces button.empty * {
  color: @color15;
}

#workspaces button {
  padding: 0px 4px;
  padding-right: 0px;
  margin: 1px 0px;
  border-radius: 15px;
  border: 0px;
  color: @foreground;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
  opacity: 0.6;
}

#workspaces button * {
  color: @color15;
}

#workspaces button.active {
  animation-duration: 8s;
  animation-name: changebg;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-timing-function: ease-out;
  border: 1px solid;
  border-color: @borderColor;
  border-radius: 15px;
  min-width: 30px;
  transition: all 0.3s ease-in-out;
  opacity: 1;
}

#workspaces button * {
  color: @foreground;
}

#workspaces button:hover {
  color: @foreground;
  background: @background1;
  border-radius: 15px;
  opacity: 0.7;
}

/* ── Submap ────────────────────────────────────────────────────── */
#submap {
  padding: 0px 8px;
  font-weight: 600;
  font-size: 14px;
  background: transparent;
}

#submap.launch {
  color: @color2;
  border-color: @color2;
}

#submap.WindowMode {
  color: @color1;
  border-color: @color1;
}

/* ── Taskbar ───────────────────────────────────────────────────── */
#taskbar {
  padding: 0px 4px;
  margin: 0px 4px;
  border-radius: 0px 8px 8px 0px;
  border-left: 0px;
  margin-left: 0px;
}
#taskbar button {
  padding: 0px;
  margin: 2px 1px;
  padding-left: 4px;
  border-radius: 8px;
  opacity: 0.7;
}
#taskbar button.active {
  background: linear-gradient(
    45deg,
    alpha(@color5, 0.16),
    alpha(@color5, 0.12),
    alpha(@color4, 0.08),
    alpha(@color4, 0.04)
  );
  opacity: 1;
}
#taskbar.empty {
  padding: 0px;
  padding-right: 8px;
}

/* ── Clock ─────────────────────────────────────────────────────── */
#clock {
  font-weight: 600;
  color: @foreground;
  background: @bg;
  border-radius: 8px;
  padding-right: 8px;
  padding-left: 8px;
  margin: 2px 4px;
  margin-right: 4px;
}

/* ── Right Side ────────────────────────────────────────────────── */
#hardware,
#pulseaudio,
#bluetooth,
#bluetooth.on,
#bluetooth.connected,
#networks,
#backlight {
  color: @foreground;
  padding-right: 4px;
  padding-left: 4px;
}

/* ──  Hardware Group ──────────────────────────────────────────── */
#hardware {
  margin: 2px 0px;
  border-radius: 0px 8px 8px 0px;
  padding-top: 2px;
  border: 1px solid;
  border-left: 0px;
  border-color: @borderColor;
}

#battery,
#disk,
#memory,
#cpu {
  color: @foreground;
  margin: 2px 4px;
}

/* ── backlight ─────────────────────────────────────────────────── */
#backlight {
  margin: 2px 0px;
  border-color: @borderColor;
  padding-top: 2px;
  border-radius: 0px;
  border-left: 0px;
  border-right: 0px;
  padding-right: 8px;
}

/* ── pulseaudio ────────────────────────────────────────────────── */
#pulseaudio {
  padding-left: 8px;
  font-size: 16px;
  margin-left: 0px;
  margin-right: 0px;
  border-right: 0px;
  border-radius: 0px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  padding-top: 2px;
}

#pulseaudio.muted {
  color: @color1;
}

/* ── Network ───────────────────────────────────────────────────── */
#network {
  padding: 0px;
  margin: 0px;
  padding-right: 5px;
}
#networks {
  border-radius: 0px;
  border-left: 0px;
  border-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 6px;
  margin: 0px;
}
#network.info {
  padding: 0px 4px;
}
/* ── Bluetooth ─────────────────────────────────────────────────── */
#bluetooth,
#bluetooth.on,
#bluetooth.connected {
  border-radius: 0px;
  border-right: 0px;
  border-left: 0px;

  margin: 0px;
  padding-right: 6px;
}

#bluetooth.info {
  padding: 0px 4px;
}

/* ── * Battery ─────────────────────────────────────────────────── */
@keyframes blink {
  to {
    padding-left: 4px;
    padding-right: 4px;
    color: @color3;
  }
}

#battery.good {
  color: @foreground;
  animation-name: blink;
}

#battery.warning {
  color: @color3;
}

#battery label {
  color: @color2;
}

#battery.charging,
#battery.plugged {
  color: @foreground;
}

#battery.critical {
  color: @color1;
}

#battery.critical:not(.charging) {
  background-color: @background2;
  color: @color1;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* ── Tray ──────────────────────────────────────────────────────── */
#tray {
  border-radius: 8px;
  border: 1px solid;
  border-color: @borderColor;
  margin: 2px 0px;
  margin-right: 0px;
  padding: 0px 4px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
}

/* ── Mpris ─────────────────────────────────────────────────────── */

#mpris {
  background-color: @bg;
  color: @foreground;
  padding: 0px 8px;
  margin: 2px 8px;
  border-radius: 8px;
  /* animation-duration: 20s; */
  /* animation-name: mprisbg; */
  /* animation-iteration-count: infinite; */
  /* animation-direction: alternate; */
  border: 1px solid transparent;
}

#workspaces,
#submap,
#mpris,
#pulseaudio,
#backlight,
#tray,
#clock,
#bluetooth,
#bluetooth.on,
#bluetooth.connected,
#networks,
#taskbar,
#hardware {
  margin-bottom: 0px;
  margin-top: 4px;
  padding-bottom: 0px;
  padding-top: 0px;
}
