@import "../theme.css";

/* -----------------------------------------------------
 * General 
 * ----------------------------------------------------- */
@define-color border_color alpha(@foreground, 0.2);

* {
  font-family: "MonaspiceNe Nerd Font", FontAwesome, Roboto, Helvetica, Arial,
    sans-serif;
  font-weight: 600;
  border: none;
  border-radius: 0px;
  color: @foreground;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0.8);
  border: none;
  background: transparent;
  transition-property: background-color;
  transition-duration: 0.5s;
}

/* ── modules ────────────────────────────────────────────────────── */
#bluetooth {
  margin: 0;
  padding: 0;
  opacity: 0;
}

#custom-appmenuicon,
#workspaces,
#window,
#clock,
#tray,
#idle_inhibitor,
#bluetooth.on,
#bluetooth.connected,
#network,
#pulseaudio,
#backlight,
#hardware,
#battery,
#submap,
#power {
  background-color: transparent;
  margin: 4px 2px;
}

#custom-appmenuicon,
#workspaces,
#power {
  border: 1px solid @border_color;
  background-color: @background_darker;
}

/* ── Tooltips ──────────────────────────────────────────────────── */
tooltip {
  border-radius: 8px;
  color: @foreground;
  background-color: @background;
  border: 1px solid;
  border-color: alpha(@foreground, 0.2);
  opacity: 1;
  padding: 16px;
  margin: 0px;
}

tooltip label {
  color: @color15;
}
